* {
    box-sizing: border-box;
}

body {
    background-color: #f0f8ff;
    font-family: sans-serif;
    margin: 0;  
}

.heading {
    padding-top: 1em;
    text-align: center;
 }

.main-container{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.validation {
    color: red !important;
    font-size: 1em !important;
}


.footer-style{
    background-color: #11013f;
    color: #f0f8ff;
    margin-top:calc(5% + 60px);
}

.disclosure{
    line-height: 1.4em;
    letter-spacing: 0.09em;
}


.table-head {
    background-color: #11013f;
    color: #f0f8ff;
}
  



